# SDK & Config Lokal
local.properties

# Build output - Gunakan tanpa garis miring di depan agar mencakup semua sub-folder
.gradle/
build/
bin/
gen/

# File khusus Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# Keystore & Sensitive
*.keystore
*.jks
google-services.json

# OS specific files
.DS_Store
Thumbs.db

# Log files
*.log