<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".PenerimaanStDariSawmill"
            android:exported="false" />
        <activity
            android:name=".LaporanBJ"
            android:exported="false" />
        <activity
            android:name=".LaporanSND"
            android:exported="false" />
        <activity
            android:name=".LaporanCCA"
            android:exported="false" />
        <activity
            android:name=".LaporanLMT"
            android:exported="false" />
        <activity
            android:name=".LaporanMLD"
            android:exported="false" />
        <activity
            android:name=".LaporanFJ"
            android:exported="false" />
        <activity
            android:name=".LaporanS4S"
            android:exported="false" />
        <activity
            android:name=".LaporanST"
            android:exported="false" />
        <activity
            android:name=".LaporanKbRambung"
            android:exported="false" />
        <activity
            android:name=".LaporanKB"
            android:exported="false" />
        <activity
            android:name=".LaporanKategori"
            android:exported="false" />
        <activity
            android:name=".ProsesSawmill"
            android:exported="false" />
        <activity
            android:name=".QcSawmill"
            android:exported="false" />
        <activity
            android:name=".Sawmill"
            android:exported="false" />
        <activity
            android:name=".SawnTimberUpah"
            android:exported="false" />
        <activity
            android:name=".SawnTimberPembelian"
            android:exported="false" />
        <activity
            android:name=".SawnTimberCategory"
            android:exported="false" />
        <activity
            android:name=".StockOpname"
            android:exported="false" />
        <activity
            android:name=".BongkarSusun"
            android:exported="false" />
        <activity
            android:name=".ProsesProduksiPacking"
            android:exported="false" />
        <activity
            android:name=".ProsesProduksiSanding"
            android:exported="false" />
        <activity
            android:name=".ProsesProduksiCrossCut"
            android:exported="false" />
        <activity
            android:name=".ProsesProduksiLaminating"
            android:exported="false" />
        <activity
            android:name=".ProsesProduksiMoulding"
            android:exported="false" />
        <activity
            android:name=".ProsesProduksiFJ"
            android:exported="false" />
        <activity
            android:name=".ProsesProduksiS4S"
            android:exported="false" />
        <activity
            android:name=".ProsesProduksi"
            android:exported="false" />
        <activity
            android:name=".SawnTimber"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Packing"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Sanding"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CrossCut"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Laminating"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Moulding"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FingerJoint"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".BeforeLabel"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".S4S"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".InputLabel"
            android:exported="false" />
        <activity
            android:name=".MenuUtama"
            android:exported="false" />
        <activity
            android:name=".Registrasi"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>